
@{
    ViewBag.Title = "Contact2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Webmaster 1. Yol a)</h2>
<p>@ViewBag.Ad</p>                         @*Başına @ koyduğumuzda c# kodu yazabiliyoruz*@
<p>@ViewBag.Mail</p>      @*ViewBag, Controller'da oluşturulan bir yapıyı View kısmına taşımak için kullanılır.*@
<p>@ViewBag.Tel</p>



<h2>Webmaster 1. Yol b)</h2>
<p>@ViewBag.Webmaster.Ad</p>
<p>@ViewBag.Webmaster.Mail</p>
<p>@ViewBag.Webmaster.Tel</p>






